.Home {
    width: 100%;
    min-height: 60rem;
    background-color: #b4bdcb;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-bar {
    position: fixed;
    width: 100%;
    background-color: #333ebc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3vw;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.header-bar h3 {
    color: white;
    font-family: Verdana, sans-serif;
}

.chat-body {
    width: 100%;
    height: calc(50rem - 3rem);
    padding: 2rem 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.chat-body .chat-video {
    margin-top: 2rem;
    width: 60%;
    height: 93%;
    background-color: #05174b;
    border: 3px solid #112678;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.3);
}

.chat-body .class-info {
    padding: 1rem;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.3);
    width: 90.5%;
    background-color: white;
    font-family: Verdana, sans-serif;
    border: 3px solid #112678;
}
.class-info h1 {
    color: #112678;
}

.class-info hr {
    margin: 1vw 0;
    border: 2px solid #d2346b;
}

.chat-body .chat-card {
    margin-top: 2rem;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(50rem - 10rem);
    width: 30%;
    max-width: 50rem;
    border: 3px solid #112678;
    background-color: #c8d7ef;
}

.chat-title {
    height: 2.5rem;
    background-color: #112678;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-family: Verdana, sans-serif;
    padding: 0 1rem;
}

.chat-conversation {
    height: 33rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-input {
    height: 3rem;
    width: 100%;
    background-color: #112678;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.chat-input form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, sans-serif;
}

.chat-input form input::placeholder {
    color: #889abb;
}

.user-chat, .bot-chat, .no-chat {
    padding: .5rem .5rem 1rem .5rem;
    border-radius: .5rem;
    max-width: 65%;
    margin: .5rem;
    font-family: Verdana, sans-serif;
    color: #114422;
    position: relative;
    min-width: 6.5rem;
    font-size: 13px;
    background-color: #7ac7f1;
    box-shadow: 1px 2px 6px #012841;
}

.user-chat {
    align-self: flex-end;
}

.bot-chat {
    align-self: flex-start;
}

.username  {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #0436c5;
}

.username span {
    font-weight: 300;
    font-size: 12px;
    color: #c50437;
    margin-left: .5rem;
}

.no-chat {
    background-color: #88b5bb;
    box-shadow: 1px 2px 6px #014140;
    align-self: center;
    justify-self: center;
}

.hour {
    position: absolute;
    bottom: .25rem;
    right: .25rem;
    font-size: 10px;
    color: #fff;
    text-shadow: 0 0 3px #114422;
}

.send-input {
    border: 1px solid #114422;
    border-radius: 2rem;
    width: 90%;
    padding: .5rem;
}

.error-input {
    border: 1px solid red;
    background-color: #fcdfd5;
}

.btn-send {
    background-color: #1de3e1;
    border: none;
    padding: .5rem 1rem;
    color: black;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .3s;
    margin-left: .5rem;
}

.btn-send:hover {
    background-color: #18a6a4;
    color: white;
}

@media screen and (max-width: 980px) {
    .chat-body {
        padding: 1rem;
    }

    .chat-body .chat-card {
        width: 80vw;
    }

    .user-chat, .bot-chat, .no-chat {
        max-width: 65%;
    }
}

@media screen and (max-width: 480px) {
    .chat-body {
        padding: .5rem;
    }

    .chat-body .chat-card {
        margin-top: 0;
        width: 100%;
        height: 35rem;
    }

    .user-chat, .bot-chat, .no-chat {
        max-width: 75%;
    }
}