*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #143a8c;
  padding: .5rem 1rem;
  border: none;
  color: white;
  border-radius: 5rem;
  cursor: pointer;
  transition: .3s;
}

.btn-primary:hover {
  background-color: #05174b;
}

/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
