*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #143a8c;
  padding: .5rem 1rem;
  border: none;
  color: white;
  border-radius: 5rem;
  cursor: pointer;
  transition: .3s;
}

.btn-primary:hover {
  background-color: #05174b;
}


